# --- CONFIGURACIÓN DE BASE DE DATOS (DOCKER INTERNO) ---
# El nombre del host debe coincidir con el nombre del servicio en docker-compose.yml
DB_HOST=postgres-db
DB_PORT=5432
DB_SCHEMA=nombre_de_tu_bd
DB_USER=tu_usuario
DB_PASS=tu_contrasena_segura

# --- CONFIGURACIÓN DE CONTENEDORES ---
# Nombre que recibirá el contenedor de la base de datos
CONTAINER_NAME=nombre-contenedor-db

# --- CONFIGURACIÓN DE SPRING BOOT (Opcional si usas perfiles) ---
SPRING_PROFILES_ACTIVE=dev