{% extends "base.html" %}

{% block title %}Categorias{% endblock %}

{% block content %}
<h2 class="text-center">Listado de Categorias</h2>
<div class="container">
    <a href="{% url 'nueva_categoria' %}" class="btn btn-primary mb-3">Agregar Categoría</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Tipo</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for categoria in categorias %}
            <tr>
                <td>{{ categoria.nombre }}</td>
                <td>{{ categoria.tipo }}</td>
                <td>
                    <a href="#" class="btn btn-sm btn-warning">Editar</a>
                    <a href="{% url 'eliminar_categoria' categoria.id %}" class="btn btn-sm btn-danger" onclick="return confirm('¿Estás seguro de que deseas eliminar este Categoria?');">Eliminar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}